<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>dev.diffsec.agentmon.SysExt</string>
	<key>CFBundleIdentifier</key>
	<string>dev.diffsec.agentmon.SysExt</string>
	<key>CFBundleName</key>
	<string>AgentMon System Extension</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSEndpointSecurityMachServiceName</key>
	<string>dev.diffsec.agentmon.SysExt</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>AgentMon uses a system extension to monitor file access, network connections, and process execution for policy enforcement.</string>
</dict>
</plist>
